@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

div.wrap.container {
  max-width: 100%;
  padding: 0;
}

.jumbotron {
  background-color: #fff;
  background-image: url("img_boxes.png");
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  position: relative;
  padding: 17em 10em;
  margin-bottom: 0;

  @media (max-width: 600px) {
    padding: 17em 10em;
  }

  @media (max-width: 496px) {
    padding: 16em 12em;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.headline-container {
  display: flex;
  color: #fff;
  justify-content: center;
  width: 90%;
  margin: 20px auto 40px;

  @media (max-width: 1200px) {
    margin: 20px auto 0;
  }

  @media (max-width: 1000px) {
    justify-content: left;
  }

  @media (max-width: 900px) {
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .left-section {
    width: 45%;
    padding: 3em 2em;

    @media (max-width: 1000px) {
      width: 60%;
    }

    @media (max-width: 900px) {
      width: 75%;
    }

    @media (max-width: 768px) {
      width: 80%;
      padding: 2em 0 1em;
    }

    @media (max-width: 700px) {
      width: 90%;
    }

    @media (max-width: 478px) {
      width: 93%;
    }

    h1 {
      line-height: 1.1em;
      font-size: 3em;
      letter-spacing: 1px;

      @media (max-width: 768px) {
        font-size: 2.5em;
      }
    }

    h3 {
      font-size: 0.9em;
      line-height: 17px;
      padding-right: 3em;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }

  .right-section {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    width: 31%;
    justify-content: space-evenly;
    text-align: left;
    padding: 5em 3em;

    @media (max-width: 1000px) {
      width: 37%;
    }

    @media (max-width: 900px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 60%;
      padding: 0;
    }

    @media (max-width: 496px) {
      width: 75%;
      padding: 2em 0;
    }

    p :nth-child(2) {
      padding: 3em 5em 1em;
      letter-spacing: 1px;
      line-height: 18px;
    }

    p :nth-child(3) {
      padding: 0 5em 0;
    }
  }
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

  span {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18%;
    font-size: 0.9em;
    color: #666;
    padding: 1em;

    @media (max-width: 900px) {
      width: 20%;
    }

    @media (max-width: 900px) {
      width: 25%;
    }

    @media (max-width: 600px) {
      width: 30%;
    }

    @media (max-width: 496px) {
      display: none;
    }

    p {
      display: flex;
      flex-direction: column;

      img {
        margin: 1em auto;
      }
    }
  }

  span.mobile-none {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

div.membership-types {
  padding: 60px 0 60px;
  width: 90%;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

  div.blurb {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 15px;

    @media (max-width: 600px) {
      width: 90%;
      margin: auto;
      line-height: 35px;
    }

    p {
      margin: 10px 0 0;
    }

    p:nth-child(2) {
      font-size: 0.5em;
    }
  }

  .types {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }

    span:nth-child(1) {
      border-top: solid 10px #0fb682;
      padding-bottom: 2em;
    }

    .type-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 2em;
      border-top: solid 10px #85959d;
      border-bottom: solid 1px #eee;
      border-left: solid 1px #eee;
      border-right: solid 1px #eee;
      border-radius: 8px;
      width: 27%;

      @media (max-width: 1000px) {
        width: 40%;
      }

      @media (max-width: 900px) {
        width: 60%;
      }

      @media (max-width: 600px) {
        width: 80%;
      }
    }

    .left {
      p:nth-child(1) {
        position: relative;

        img {
          position: absolute;
          top: -11px;
          right: 0;
        }
      }

      p:nth-child(2) {
        font-size: 1.5em;
        font-weight: 700;
        padding-top: 1em;
      }

      p:nth-child(3) {
        font-size: 0.9em;
        color: #8b9aa2;
        margin-bottom: 0;
      }

      p:nth-child(4) {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 0;
      }

      p:nth-child(4)::before {
        content: "$";
        font-size: 0.5em;
        vertical-align: text-top;
      }

      p:nth-child(5) {
        font-size: 0.9em;
        color: #0fb682;
      }

      p:nth-child(6)::before {
        content: "\2713 ";
        font-size: 1em;
        font-weight: 900;
      }

      p:nth-child(6) {
        font-weight: 200;
      }

      ul {
        list-style-type: none;

        li {
          width: 50%;
          margin: auto;
          text-align: left;
          font-weight: 200;
        }

        li::before {
          content: " - ";
        }
      }

      p:nth-child(n+7) {
        text-align: left;
        font-size: 1em;
        font-weight: 200;
        padding-left: 20%;

        strong {
          font-weight: 900;
        }

        ::before {
          content: "\2713 ";
        }
      }

      a.button {
        color: #fff;
        background-color: #0fb682;
        padding: 1em;
        border-radius: 6px;
        width: 75%;
        margin: auto;
        text-decoration: none;
      }
    }

    .right {
      padding-top: 1em;

      @media (max-width: 900px) {
        padding-bottom: 2em;
      }

      p:nth-child(1) {
        font-size: 1.5em;
        font-weight: 700;
        padding-top: 1em;
      }

      p:nth-child(2) {
        font-size: 0.9em;
        color: #8b9aa2;
        margin-bottom: 0;
      }

      p:nth-child(3) {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 0;
      }

      p:nth-child(3)::before {
        content: "$";
        font-size: 0.5em;
        vertical-align: text-top;
      }

      p:nth-child(4) {
        font-size: 0.9em;
        color: #0fb682;
      }

      p:nth-child(5)::before {
        content: "\2713 ";
        font-size: 1em;
        font-weight: 900;
      }

      p:nth-child(5) {
        font-weight: 200;
      }

      ul {
        list-style-type: none;

        li {
          width: 50%;
          margin: auto;
          text-align: left;
          font-weight: 200;
        }

        li::before {
          content: " - ";
        }
      }

      p:nth-child(n+6) {
        text-align: left;
        font-size: 1em;
        font-weight: 200;
        padding-left: 20%;

        strong {
          font-weight: 700;
        }

        ::before {
          content: "\2713 ";
        }
      }

      a.button {
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        background-color: #85959d;
        padding: 1em;
        border-radius: 6px;
        width: 75%;
        margin: auto;
        text-decoration: none;
      }
    }
  }

  div.pricing-blurb {
    font-size: 0.8em;
    letter-spacing: 2px;
    color: #85959d;
    text-align: center;

    a {
      border-bottom: 1px solid #4965e0;
      padding-bottom: 1px;
      text-decoration: none;
      background-color: #fff;
    }
  }
}

div.info-cards {
  padding: 60px 0 0;
  border-top: solid 1px #85959d;
  width: 90%;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

  div.memo {
    width: 60%;
    margin: 0 auto 60px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;

    @media (max-width: 768px) {
      width: 90%;
    }

    div.memo > p:nth-child(2) {
      font-size: 0.5em;
    }
  }

  div.info-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.individual-card-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px 0 10px;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      div.info-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 38%;

        @media (max-width: 1000px) {
          width: 60%;
          margin: auto;
        }

        p {
          font-weight: 500;
        }

        p:nth-child(1) {
          margin-bottom: 0;
          margin-top: 10px;
        }

        p:nth-child(2) {
          font-size: 1.5em;
          font-weight: 700;
        }

        ul {
          list-style: none;
          padding: 0;

          li::before {
            content: "\2713";
            font-weight: 900;
            padding-right: 10px;
          }
        }
      }
    }

    div.individual-card-2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: 20px 0 10px;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      div:nth-child(2) {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 38%;

        @media (max-width: 1000px) {
          width: 60%;
          margin: auto;
        }

        p:nth-child(1) {
          margin-bottom: 0;
          margin-top: 10px;
        }

        p:nth-child(2) {
          font-weight: 700;
          font-size: 1.5em;
        }

        ul {
          list-style: none;
          padding: 0;

          li::before {
            content: "\2713";
            font-weight: 900;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

div.icons-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: baseline;
  border-bottom: solid 1px #85959d;
  padding-bottom: 50px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  div.individual-icon-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    padding: 10px;
    margin: 2em;
    justify-content: justify;

    @media (max-width: 768px) {
      width: 50%;
      margin: auto;
    }
  }
}

div.join-us {
  margin: 50px auto;
  text-align: center;
  width: 56%;

  @media (max-width: 768px) {
    width: 90%;
  }

  div.join {
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    line-height: 35px;
  }
}

#homepage > div.icons-container > div > img {
  margin: 10px auto;
}

#homepage > div.icons-container > div > p {
  font-size: 1.5em;
  font-weight: 700;
}

#homepage > div.join-us > div > p:nth-child(2) {
  font-size: 0.7em;
  padding-bottom: 10px;
}

#homepage > div.info-cards > div.memo > p:nth-child(2) {
  font-size: 0.5em;
}

#homepage > div.join-us > a {
  background-color: #042bdc;
  padding: 15px 35px;
  margin: 20px 0;
  color: #fff;
  border-radius: 6px;
  font-size: 1.2em;
  text-decoration: none;
}

#homepage > div.join-us a:hover {
  background-color: #f57706;
}

#homepage > div.membership-types > div.types > span > a:hover {
  background-color: #f57706;
}

#homepage > div.info-cards > div.info-cards-container > div > img {
  @media (max-width: 1000px) {
    margin: 10px auto 0;
  }

  @media (max-width: 600px) {
    width: 80%;
    height: auto;
  }
}
