@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

div.wrap.container {
  max-width: 100%;
  padding: 0;
}

.jumbotron {
  background-color: #fff;
  background-image: url("img_boxes.png");
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  position: relative;
  padding: 17em;
  margin-bottom: 0;

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.headline-container {
  display: flex;
  color: #fff;
  justify-content: center;
  width: 80%;
  margin: auto;

  .left-section {
    width: 50%;
    padding: 3em 2em;

    h1 {
      line-height: 1.1em;
      font-size: 3em;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 0.9em;
      line-height: 17px;
      padding-right: 3em;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }

  .right-section {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    text-align: left;
    padding: 3em 2em;

    p :nth-child(2) {
      padding: 3em 5em 1em;
      letter-spacing: 1px;
      line-height: 18px;
    }

    p :nth-child(3) {
      padding: 0 5em 0;
    }
  }
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  span {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18%;
    font-size: 0.9em;
    color: #666;
    padding: 1em;

    p {
      display: flex;
      flex-direction: column;

      img {
        margin: 1em auto;
      }
    }
  }
}

.membership-types {
  padding-top: 50px;

  .blurb {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 15px;

    p {
      margin: 10px 0 0;
    }

    p:nth-child(2) {
      font-size: 0.5em;
    }
  }

  .types {
    display: flex;
    flex-direction: row;
    justify-content: center;

    span:nth-child(1) {
      border-top: solid 10px #0fb682;
      padding-bottom: 2em;
    }

    .type-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 2em;
      border-top: solid 10px #85959d;
      border-bottom: solid 1px #eee;
      border-left: solid 1px #eee;
      border-right: solid 1px #eee;
      border-radius: 8px;
      width: 27%;
    }

    .left {
      p:nth-child(1) {
        position: relative;

        img {
          position: absolute;
          top: -11px;
          right: 0;
        }
      }

      p:nth-child(2) {
        font-size: 1.5em;
        font-weight: 700;
        padding-top: 1em;
      }

      p:nth-child(3) {
        font-size: 0.9em;
        color: #8b9aa2;
        margin-bottom: 0;
      }

      p:nth-child(4) {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 0;
      }

      p:nth-child(4)::before {
        content: "$";
        font-size: 0.5em;
        vertical-align: text-top;
      }

      p:nth-child(5) {
        font-size: 0.9em;
        color: #0fb682;
      }

      p:nth-child(6)::before {
        content: "\2713 ";
        font-size: 1em;
        font-weight: 900;
      }

      p:nth-child(6) {
        font-weight: 200;
      }

      ul {
        list-style-type: none;

        li {
          width: 50%;
          margin: auto;
          text-align: left;
          font-weight: 200;
        }

        li::before {
          content: " - ";
        }
      }

      p:nth-child(n+7) {
        text-align: left;
        font-size: 1em;
        font-weight: 200;
        padding-left: 20%;

        strong {
          font-weight: 900;
        }

        ::before {
          content: "\2713 ";
        }
      }

      a.button {
        color: #fff;
        background-color: #0fb682;
        padding: 1em;
        border-radius: 6px;
        width: 75%;
        margin: auto;
        text-decoration: none;
      }
    }

    .right {
      padding-top: 1em;

      p:nth-child(1) {
        font-size: 1.5em;
        font-weight: 700;
        padding-top: 1em;
      }

      p:nth-child(2) {
        font-size: 0.9em;
        color: #8b9aa2;
        margin-bottom: 0;
      }

      p:nth-child(3) {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 0;
      }

      p:nth-child(3)::before {
        content: "$";
        font-size: 0.5em;
        vertical-align: text-top;
      }

      p:nth-child(4) {
        font-size: 0.9em;
        color: #0fb682;
      }

      p:nth-child(5)::before {
        content: "\2713 ";
        font-size: 1em;
        font-weight: 900;
      }

      p:nth-child(5) {
        font-weight: 200;
      }

      ul {
        list-style-type: none;

        li {
          width: 50%;
          margin: auto;
          text-align: left;
          font-weight: 200;
        }

        li::before {
          content: " - ";
        }
      }

      p:nth-child(n+6) {
        text-align: left;
        font-size: 1em;
        font-weight: 200;
        padding-left: 20%;

        strong {
          font-weight: 700;
        }

        ::before {
          content: "\2713 ";
        }
      }

      a.button {
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        background-color: #85959d;
        padding: 1em;
        border-radius: 6px;
        width: 75%;
        margin: auto;
        text-decoration: none;
      }
    }
  }

  div.pricing-blurb {
    font-size: 0.8em;
    letter-spacing: 2px;
    color: #85959d;
    text-align: center;

    a {
      border-bottom: 1px solid #4965e0;
      padding-bottom: 1px;
      text-decoration: none;
      background-color: #fff;
    }
  }
}
